{% extends 'layouts/head.html.twig' %}

{% block content %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    &nbsp;
                </div>
                <div class="col-md-6">
                    <div class="f-center">
                        <i class="imoon imoon-5x imoon-bubble">
                            <h1>Tag baru</h1>
                        </i>
                    </div>
                    <div class="panel">
                        <div class="panel-heading">
                        </div>
                        <div class="panel-body">
                            <form method="post" class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label for="category">Isi Category Tag</label>
                                        <input type="text" name="category" id="category" class="form-control" placeholder="isi category">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-primary btn-block btn-flat">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    &nbsp;
                </div>
            </div>
        </div>
    </section>
{% endblock %}